.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.form h2{
  margin: 1rem 0 1rem 0;
}
.form label{
  display: inline-block;
  text-align: left;
  width: 60%;
}
.form input, select{
  width: 60%;
}
